:root {
  --background: #2A1F2D;
  --light: #59C9A5;
  --dark: #5B6C5D;
  --sidebar: #513C48;
  --textbox: #3B2C35;
  --green: #56E39F;
}

::-webkit-scrollbar {
  background: var(--textbox);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--dark);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: white;
  font-family: monospace;

  margin: 0;
  padding: 0;

  height: 100vh;
}

h1 {
  margin-bottom: 5px;
}

p {
  margin: 1px;
}

span {
  font-size: 18px;
}

i {
  font-size: 3.5vw;
  transform: translate(-5%, -5%);
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.restraint {
  margin-top: 2rem;
  max-width: 50%;
}

/* scores */
.scores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* chess board */

.labels {
  width: 37.55vw;
  height: 37.55vw;

  background-color: var(--sidebar);
  display: grid;
  grid-template-rows: 15px repeat(8, 1fr) 15px;
  grid-template-columns: 15px repeat(8, 1fr) 15px;
}

.top-label {
  text-align: center;
  font-size: 12px;
  cursor: default;
}

.left-label {
  font-size: 12px;

  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  cursor: default;
}

.board {
  width: 100%;
  height: 100%;
  
  grid-row: 2/10;
  grid-column: 2/10;
  
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.light {
  background-color: var(--light);
}

.dark {
  background-color: var(--dark);
}

.light, .dark {
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.light:hover, .dark:hover {
  filter: brightness(1.2);
}

.white {
  color: white;
}

.black {
  color: black;
}

.pos {
  background-color: var(--green);
  filter: saturate(2);
}

.threatened {
  background-color: red;
}

/* promotion box */

#promote {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 7vw;
  background-color: var(--sidebar);
}

#promote i {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--dark);
}

#promote i:hover {
  filter: brightness(1.2);
}

/* sidebar */

.sidebar {
  height: 100vh;
  width: 100%;
  background-color: var(--sidebar);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#actions {
  width: 80%;
  max-height: 60%;
  height: 60%;
  margin-bottom: 20px;
  padding: 3px;

  background-color: var(--textbox);
  border: 2px black solid;

  overflow-y: scroll;
}

#actions p {
  margin-bottom: 5px;
}

#actions span {
  display: inline-block;
  font-size: 11px;
  color: lightgray;
  margin-left: 5px;
  transform: translateY(-2px);
}

/* restart button */

#restart {
  background-color: var(--dark);
  color: white;
  border: 2px black solid;
  font-family: monospace;
  
  font-size: 20px;
  transition: 100ms;

  cursor: pointer;
  outline: none;
}

#restart:hover {
  filter: brightness(1.1);
}

#restart:active {
  filter: brightness(0.9);
}

/* media queries */

@media (max-width: 800px) {

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #promote {
    margin-bottom: 30px;
    height: 5rem;
  }

  .sidebar {
    max-height: 80%;
  }

  #actions {
    width: 40%;
    min-height: 50%;
    max-height: 100%;
  }

  .restraint {
    max-width: 90%;
  }

  .labels {
    width: 60vw;
    height: 60vw;
  }

  .restraint h1 {
    margin-bottom: 20px;
  }
  
  .sidebar h1 {
    margin-top: 50px;
  }

  i {
    font-size: 5.5vw;
  }

}