:root {
  --background: #415561;
  --banner: #6457A6;
  --sidebar: #1D263B;  
  --board: #1C1C1C;
  --silver: #AC9C9C;
  --dark: #147171;
  --highlight: #6cd742;
  --toast: #0A9063;
  --promo: #7067a5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

body {
  background: var(--background);
  color: #F4F4F9;
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-items: center;
}

button:hover { filter: brightness(1.1); }
button:active { filter: brightness(0.9); }

/* board */

.container {
  width: 99vh;
  height: 99vh;
  display: grid;
  grid-template-columns: 20px repeat(8, 1fr);
  grid-template-rows: 20px repeat(8, 1fr);
}

.label {
  display: grid;
  place-items: center;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

/* inner board */
.board {
  max-width: 100%;
  height: 100%;
  background: var(--board);
  grid-column: 2/10;
  grid-row: 2/10;
  padding: 10px;
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

/* cells */
.silver, .dark {
  font-size: 3rem;
  display: grid;
  place-items: center;
  position: relative;
}

.silver {
  background: var(--silver);
}

.dark {
  background: var(--dark);
}

.highlight, .special { border: 1px solid var(--board); }
.highlight { background: var(--highlight); }
.castling { background: royalblue; }
.enpassant { background: darkorange; }

.threatened::before, .danger::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0%, 0% 90%, 100% 90%);
  background-color: red;
  z-index: 100;
  opacity: 0;
}

.selected::after {
  content: '';
  width: 80%;
  height: 80%;
  position: absolute;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  background-color: gray;
  opacity: 0.8;
}

.promoting::after {
  content: '';
  position: absolute;
  opacity: 1;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  background-color: royalblue;
  z-index: 100;
}

.castling::after, .enpassant::after {
  content: '';
  position: absolute;
  opacity: 0;
  width: 80%;
  height: 80%;
  z-index: 100;
}

.castling::after { clip-path: polygon(15% 10%, 30% 10%, 30% 25%, 40% 25%, 40% 10%, 60% 10%, 60% 25%, 70% 25%, 70% 10%, 85% 10%, 85% 40%, 65% 45%, 65% 80%, 85% 80%, 85% 95%, 15% 95%, 15% 80%, 35% 80%, 35% 45%, 15% 40%); }
.enpassant::after { clip-path: polygon(50% 0%, 35% 15%, 42% 70%, 25% 70%, 25% 80%, 45% 80%, 45% 100%, 55% 100%, 55% 80%, 75% 80%, 75% 70%, 58% 70%, 65% 15%); }
.special.white::after { background: white; }
.special.black::after { background: black; }

/* pieces */
.white, .black {
  z-index: 99;
}

.white { color: white; }
.black { color: black; }

/* sidebar */

.sidebar {
  background: var(--sidebar);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 75px auto;
  position: relative;
}

.banner {
  background: var(--banner);
  width: 100%;
  display: flex;
  padding: 2px 10px;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.banner i {
  transform: translate(-5%, -5%);
}

.banner span {
  font-weight: bold;
}

/* toasts */

.inner-sidebar {
  padding: 25px 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: calc(100% - 25px);
  overflow-y: scroll;
  scrollbar-width: none;
}

.inner-sidebar::-webkit-scrollbar {
  display: none;
}

.toast {
  background: var(--toast);
  width: clamp(20%, 400px, 80%);
  min-height: 60px;
  max-height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px 0;
}

.toast i {
  font-size: 3rem;
}

.toast svg {
  height: 80%;
  width: auto;
}

.toast p {
  font-size: 2rem;
  font-weight: bold;
}

.toast div {
  display: grid;
  height: auto;
  width: 21%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.toast div .from-grid {
  font-size: 1rem;
  color: lightgray;
}

.toast div svg {
  height: 80%;
  margin: 0 auto;
}

.toast div .to-grid {
  font-size: 2rem;
  color: white;
  grid-column: 2/3;
  grid-row: 1/3;
}

/* stalemate */
#stalemate-option {
  position: absolute;
  width: 100%;
  height: 100px;
  background: darkslateblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  opacity: 1;
  transition: 200ms;
  transform-origin: bottom;
}

#stalemate-option.hidden { 
  opacity: 0; 
  transform: scaleY(0);
}

#stalemate-option p {
  text-align: center;
  width: 80%;
  margin-bottom: 5px;
}

#stalemate-option button {
  border: 2px solid var(--board);
  border-radius: 10px;
  padding: 5px 10px;
  background: var(--banner);
  outline: none;
  color: lightgray;
  cursor: pointer;
}

/* pawn promotion screen */
#pawn-promo {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 101;
  display: grid;
  place-items: center;
}

#pawn-promo.hidden {
  display: none;
}

#promo-box {
  width: 60vw;
  height: 45vh;
  background: var(--promo);
  border-radius: 20px;
  box-shadow: 4px 4px darkslateblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#promo-box:first-child {
  font-size: 3.5rem;
}

#promo-box svg {
  width: 72%;
  height: 80px;
}

.promotions {
  width: 80%;
  height: 25%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15%;
}

.promotions div {
  height: 100%;
  width: auto;
  filter: brightness(0.9);
  box-shadow: 2px 2px var(--dark);
}

.promotions div:hover {
  filter: brightness(1);
  cursor: pointer;
}

.promotions div:active {
  filter: brightness(0.8);
  transform: translate(2px, 2px);
  box-shadow: 1px 1px var(--dark) inset;
}

.promotions div i {
  font-size: 3rem;
}

/* end screen */
#end-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 101;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  opacity: 1;
  transition: opacity 500ms;
}

#end-screen.hidden {
  opacity: 0;
  display: none;
}

.end-box {
  width: 100vw;
  height: 40vh;
  background: var(--banner);
  transform-origin: left;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.end-box h1 {
  font-size: 8rem;
}

.stats {
  position: absolute;
  opacity: 0;
  font-size: 4rem;
  color: white;
  display: flex;
  flex-direction: row;
}

#w-stat { transform: translate(-100%, -30%); }
#b-stat { transform: translate(100%, -30%); }
#w-stat.winner { transform: translate(0, -30%); }
#b-stat.winner { transform: translate(0, -30%); }

#b-stat i { color: black; }

.stats i { 
  margin: 0 20px;
}

.stats span {
  font-weight: bold;
}

#restart-button {
  opacity: 0;
  background: var(--dark);
  color: white;
  font-size: 1rem;
  padding: 10px 30px;
  cursor: pointer;
  outline: none;
  border: 2px solid var(--board);
  border-radius: 10px;
  position: absolute;
  transform: translateY(200%);
  box-shadow: 1px 2px 5px var(--board);
}

/* media queries */
@media (max-width: 1000px) {

  body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .sidebar {
    margin-top: 50px;
    min-height: 500px;
  }

}

@media (max-width: 102vh) {

  .container {
    max-width: calc(100vw - 25px);
    max-height: calc(100vw - 25px);
  }

  .silver, .dark {
    font-size: 8vw;
  }

}